
@import url('https://fonts.googleapis.com/css2?family=Andika&family=Arvo:wght@400;700&family=Lato:wght@300;400&display=swap');

body {
  background-image: url('../public/images/Backgroundflip.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  color: black;
  font-family: "Arvo";
  max-width: 3100px;
}


a {
  color: black;
  text-decoration: none;
}
.content {
  max-width: 1380px;
  margin: 0 auto;
 
}
nav {
  height: 120px;
  margin: 10px auto 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* background: rgb(221,230,213,0.9); */
  opacity: 80%;
  border-bottom: solid thin black;
}
nav a {
  font-size: 1.4rem;
  margin-left: 12px;
  padding-right: 23px;
}
nav a:hover {
  opacity: 30%;
  text-decoration: underline;
}

nav .logo {
margin-right: auto;

  color: white;
}



footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: black;
  border-top: 1px solid #eaeaea;
  background: rgb(221,230,213,0.9);
  height: 60px;
  display: flex;
  justify-content:center;
  align-items: center;  
}