@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
/*
.main {
  flex: 1;
  display: inline-block;
  justify-content: center;
  align-items: center;
  min-width: 920px;
  max-width: 1920px;
} */

/* .container {
  min-height: 80vh;
  max-width: 1920px;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.img {
  padding-top: 2rem;
  margin: 0 auto;
  height: 50%;
  width: 50%;
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.para {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 32px;
}

.info {
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.formbox {
  opacity: 90%;
  display: flex;
  justify-content: center;
  height: 22em;
}
.form {
  font-size: 22px;
  text-align: center;
  color: black;
}

.video-responsive {
  padding-bottom: 56.25%;

  height: 0;
}

.youtube {
  margin: 3% 0 5% 0;
  display: flex;
  justify-content: center;
}

.bookbox {
  margin-top: -20px;
  opacity: 90%;
  padding-bottom: 2%;
}

.banner {
  text-align: center;
  font-size: 35px;
  text-decoration: underline;
}
.bookblurb {
  font-size: 1em;
  text-align: center;
  font-family: "Noto Sans", sans-serif;
}
.bookformbox {
  margin-top: 2%;
  padding-bottom: 3%;
}

.lessformbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  padding-bottom: 3%;
}

/* LOGO */

/* header and footer  */

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  border: solid blue;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  background-color: burlywood;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  background-color: red;
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
